@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-img {
  0% {
    transform: rotateY(0) translateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(rem(-80));
  }
  100% {
    transform: rotateY(360deg) translateY(0);
  }
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ibga { 
  position: relative;
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
  }
}

.title {
  @include fit('font-size', 64, 26, 1);
  line-height: 130.4%;
}

.subtitle {
  @include fit('font-size', 36, 20, 1);
  line-height: 130.4%;
}

.text {
  font-weight: 400;
  @include fit('font-size', 24, 18, 1);
  line-height: 130.4%;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(50);
  transition: .3s ease;
  
  font-weight: 400;
  font-size: rem(24);
  line-height: 130.4%;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;

  @include pc {
    &:hover {
      border: none;
      border: 1px solid $blue;
      background-color: $blue;
    }
  }
}

.view-all {
  display: inline-block;
  @include pc {
    &:hover {
      .view-all__name {
        color: $blue;
      }
      .view-all__icon::before {
        color: $blue;
      }
    }
  }
  &__name {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: rem(10);
    color: #fff;
    font-weight: 400;
    transition: .3s ease;
  }
  &__icon::before {
    transition: .3s ease;
  }
}