$container: rem(1310);
$ff: 'Raleway';
$fw: 500;
$bg: #151515;
$mc: #fff;
$blue: #005AAA;

html {scroll-behavior: smooth; font-size: 100%;}
body {font-family: $ff;font-weight: $fw;color: $mc; background-color: $bg;}
.app {display: flex;flex-direction: column;height: 100%;}
.main {flex: 1 1 auto;}
.container {max-width: $container;margin: 0 auto;}

.container {
  @include fit('padding-left', 15, 7, 1);
  @include fit('padding-right', 15, 7, 1);
}